.swal2-styled.swal2-confirm {
    background-color: #009688 !important;
    padding: 0.625rem 1.125rem !important;
    font-size: 0.875rem !important;
    line-height: 1.4286 !important;
    border-radius: 0.25rem !important;
}